@font-face {
  font-family: "IRANSansX";
  src: url("/fonts/iran-sans-x/IRANSansXV.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansXFaNum";
  src: url("/fonts/iran-sans-x-fa-num/IRANSansXFaNum-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansXFaNum";
  src: url("/fonts/iran-sans-x-fa-num/IRANSansXFaNum-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansXFaNum";
  src: url("/fonts/iran-sans-x-fa-num/IRANSansXFaNum-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansXFaNum";
  src: url("/fonts/iran-sans-x-fa-num/IRANSansXFaNum-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

#fbjs[dir="rtl"],
#fbjs[dir="rtl"] *,
#fbjs[dir="rtl"] ::before,
#fbjs[dir="rtl"] ::after {
  font-family: IRANSansX, IRANSansXFaNum, Helvetica, Arial, sans-serif;
  font-feature-settings: "ss02";
}

@supports (font-variation-settings: normal) {
  #fbjs[dir="rtl"],
  #fbjs[dir="rtl"] *,
  #fbjs[dir="rtl"] ::before,
  #fbjs[dir="rtl"] ::after {
    font-variation-settings: "wght" 400;
  }
}
